#acoes_turno {
    position: absolute;
    top: 65px;
    left: 297px;
    z-index: 999;
}

#acoes_turno .info {
    position: relative;
    top: 0px;
    width: 515px;
    height: 145px;
    background: url('../imagens/acoesTurno/bg.png') no-repeat;
}

#acoes_turno .info #titulo {
    position: absolute;
    top: 0;
    left: 152px;
    width: 130px;
    text-align: center;
    color: #E5B998;
    font-weight: bold;
}

#acoes_turno .info .img-tropas {
    position: absolute;
    top: 48px;
    left: 10px;
    width: 70px;
    height: 65px;
    background: url('../imagens/acoesTurno/tropas.png') no-repeat;
}

#acoes_turno .info .img-trocar {
    position: absolute;
    top: 35px;
    left: 10px;
    width: 63px;
    height: 88px;
    background: url('../imagens/acoesTurno/cartas.png') no-repeat;
}

#acoes_turno .info .meio-geral {
    position: absolute;
    top: 42px;
    left: 88px;
    width: 258px;
    text-align: center;
    color: #FFD1AC;
    font-weight: bold;
    font-size: 18px;
}

#acoes_turno .info .meio-dados {
    position: absolute;
    top: 28px;
    left: 140px;
    width: 151px;
    height: 96px;
    background: url('../imagens/acoesTurno/area-dados.png') no-repeat;
}

#dados {
    position: relative;
    left: 9px;
    top: 5px;
    width: 151px;
    height: 96px;

    display: flex;
    flex-direction: column;
}

#dadosAtaque {
    display: flex;
    flex-direction: row;
    width: 151px;
}

#dadosDefesa {
    display: flex;
    flex-direction: row;
    width: 151px;
}

.dado {
    float: left;
    width: 39px;
    height: 38px;
    background: url('../imagens/dados-v2.png') no-repeat;
    margin: 2px 2px;
}

.dado_ataque {
    background-position: 0px 0px;
}

.dado_ataque1 {
    background-position: 0px 0px;
}

.dado_ataque6 {
    background-position: -200px 0px;
}

.dado_defesa {
    background-position: 0px -39px;
}

.dado_defesa1 {
    background-position: 0px -39px;
}

.dado_defesa6 {
    background-position: -200px -39px;
}

#acoes_turno .info #extra {
    position: absolute;
    top: 53px;
    left: 346px;
    width: 64px;
    text-align: center;
    color: #FFD1AC;
    font-weight: bold;
    font-size: 28px;
}

/*Atacar e mover*/
#acoes_turno .info #alvo,
#acoes_turno .info #saida {
    position: absolute;
    top: 70px;
    left: 350px;
    width: 70px;
    height: 55px;
    text-align: center;
}

#acoes_turno .info #alvo .nome,
#acoes_turno .info #saida .nome {
    position: relative;
    top: -35px;
    text-align: center;
    color: #2E2014;
    font-weight: bold;
    width: 73px;
}

#acoes_turno .info #alvo .quantidade {
    position: absolute;
    top: 15px;
    left: 22px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #2E2014;
    width: 35px;
    visibility: hidden;
}

#acoes_turno .info #atacante,
#acoes_turno .info #entrada {
    position: absolute;
    top: 70px;
    left: 10px;
    width: 70px;
    height: 55px;
    text-align: center;
    color: #332417
}

#acoes_turno .info #atacante .nome,
#acoes_turno .info #entrada .nome {
    position: relative;
    top: -35px;
    text-align: center;
    color: #2E2014;
    font-weight: bold;
    width: 83px;
}

#acoes_turno .info #atacante .quantidade {
    position: absolute;
    top: 15px;
    left: 22px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #2E2014;
    width: 35px;
    visibility: hidden;
}

#acoes_turno .info .terr-vermelho {
    background: url('../imagens/acoesTurno/territorio-vermelho.png') no-repeat;
}

#acoes_turno .info .terr-azul {
    background: url('../imagens/acoesTurno/territorio-azul.png') no-repeat;
}

#acoes_turno .info .terr-verde {
    background: url('../imagens/acoesTurno/territorio-verde.png') no-repeat;
}

#acoes_turno .info .terr-preto {
    background: url('../imagens/acoesTurno/territorio-preto.png') no-repeat;
}

#acoes_turno .info .terr-branco {
    background: url('../imagens/acoesTurno/territorio-branco.png') no-repeat;
}

#acoes_turno .info .terr-amarelo {
    background: url('../imagens/acoesTurno/territorio-amarelo.png') no-repeat;
}

#acoes_turno .info #btnAcao1 {
    position: absolute;
    top: 38px;
    left: 429px;
    cursor: pointer;
}

#acoes_turno .info #btnAcao2 {
    position: absolute;
    top: 85px;
    left: 429px;
    cursor: pointer;
}

.sprite-btn-acoes {
    background: url('../imagens/acoesTurno/sprite-btn-acoes.png') no-repeat;
}

.sprite-btn-acoes-turno-atacar:hover {
    background-position: 0 0;
    width: 86px;
    height: 34px;
}

.sprite-btn-acoes-turno-atacar {
    background-position: 0 -39px;
    width: 86px;
    height: 34px;
}

.sprite-btn-acoes-turno-cancelar:hover {
    background-position: 0 -78px;
    width: 86px;
    height: 34px;
}

.sprite-btn-acoes-turno-cancelar {
    background-position: 0 -117px;
    width: 86px;
    height: 34px;
}

.sprite-btn-acoes-turno-mover:hover {
    background-position: 0 -156px;
    width: 86px;
    height: 34px;
}

.sprite-btn-acoes-turno-mover {
    background-position: 0 -195px;
    width: 86px;
    height: 34px;
}

.sprite-btn-acoes-turno-prosseguir:hover {
    background-position: 0 -234px;
    width: 86px;
    height: 34px;
}

.sprite-btn-acoes-turno-prosseguir {
    background-position: 0 -273px;
    width: 86px;
    height: 34px;
}

.sprite-btn-acoes-turno-trocar:hover {
    background-position: 0 -312px;
    width: 86px;
    height: 34px;
}

.sprite-btn-acoes-turno-trocar {
    background-position: 0 -351px;
    width: 86px;
    height: 34px;
}

.sprite-btn-acoes-turno-ver-cartas:hover {
    background-position: 0 -390px;
    width: 86px;
    height: 34px;
}

.sprite-btn-acoes-turno-ver-cartas {
    background-position: 0 -429px;
    width: 86px;
    height: 34px;
}

#acoes_turno .timeline {
    position: absolute;
    top: 118px;
    left: 66px;
    width: 280px;
    height: 47px;
}

#acoes_turno .timeline .turno {
    float: left;
    width: 47px;
    height: 47px;
    margin-left: 22px;
}

#acoes_turno .timeline .turno-padrao {
    background: url('../imagens/acoesTurno/inativo-marrom.png') no-repeat;
}

#acoes_turno .timeline .turno-j1 {
    background: url('../imagens/acoesTurno/ativo-vermelho.png') no-repeat;
}

#acoes_turno .timeline .turno-j2 {
    background: url('../imagens/acoesTurno/ativo-azul.png') no-repeat;
}

#acoes_turno .timeline .turno-j3 {
    background: url('../imagens/acoesTurno/ativo-verde.png') no-repeat;
}

#acoes_turno .timeline .turno-j4 {
    background: url('../imagens/acoesTurno/ativo-preto.png') no-repeat;
}

#acoes_turno .timeline .turno-j5 {
    background: url('../imagens/acoesTurno/ativo-branco.png') no-repeat;
}

#acoes_turno .timeline .turno-j6 {
    background: url('../imagens/acoesTurno/ativo-amarelo.png') no-repeat;
}
