#chat_geral {
    position: absolute;
    top: 55px;
    left: 922px;
}

#chat_geral .titulo {
    margin-left: 5px;
    width: 344px;
    height: 20px;
    background: url('../imagens/lobby/titulo-chat.png') no-repeat;
}

#cg_mensagens {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    width: 356px;
    height: 330px;
    border: 0;
    background-color: transparent;
    cursor: text;
    margin-bottom: 1px;
    padding: 5px;
    font-size: 15px;
}

#cg_mensagens object {
    max-width: 265px;
}

.comando_rank {
    display: inline-block;
}

.chat_tour {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
    margin: 8px 0;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    cursor: pointer;
}

.chat_tour p {
    color: #453122;
    line-height: 32px;
    font-size: 14px;
}

.chat_tour .chat_soldado {
    width: 64px;
    height: 64px;

    background-color: #453122;
    mask: url('../imagens/soldier.svg') no-repeat center / contain;
    -webkit-mask: url('../imagens/soldier.svg') no-repeat center / contain;
}

.botao_ir_para_baixo {
    position: absolute;
    right: 18px;
    bottom: 58px;
    width: 42px;
    height: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #989898;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .6), 0 2px 5px 0 rgba(0, 0, 0, .2);
}

/**/

.log_mensagem_item {
    display: flex;
    margin: 4px 4px 4px 0;
    background-color: rgba(255, 255, 255, .1);
    border-radius: var(--border-radios-default);
}

.log_mensagem_item .barra_lateral {
    width: 4px;
    border-radius: var(--border-radios-default) 0 0 var(--border-radios-default);
}

.log_mensagem_item p {
    color: white;
    text-align: left;
}

.log_dados {
    display: flex;
    margin: 2px 0;
}

.log_dados .dice_label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
}

.log_dados .dice {
    margin-right: 4px;
}