.cor_default {
    background: #555;
    color: #FFF;
}

.cor_vermelha {
    background: #841D0F;
    color: #FFF;
}

.cor_azul {
    background: #262165;
    color: #FFF;
}

.cor_verde {
    background: #214A29;
    color: #FFF;
}

.cor_preto {
    background: #282423;
    color: #FFF;
}

.cor_branco {
    background: #F8F7E9;
    color: #444;
}

.cor_amarelo {
    background: #DFE136;
    color: #444;
}

.quadrado_jogador {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
    border-color: #000;
    border-width: 1px;
    border-style: solid;
}
