.cor_default {
    background: #555;
    color: #FFF;
}

.cor_marrom {
    background: var(--color-brown);
    color: #FFF;
}

.cor_vermelha {
    background: var(--color-player-red);
    color: #FFF;
}

.cor_azul {
    background: var(--color-player-blue);
    color: #FFF;
}

.cor_verde {
    background: var(--color-player-green);
    color: #FFF;
}

.cor_preto {
    background: var(--color-player-black);
    color: #FFF;
}

.cor_branco {
    background: var(--color-player-white);
    color: #444;
}

.cor_amarelo {
    background: var(--color-player-yellow);
    color: #444;
}

.quadrado_jogador {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
    border-color: #000;
    border-width: 1px;
    border-style: solid;
}
