.box_crown {
    width: 40px;
    height: 40px;
    background: url('../imagens/coroa_flat_40.png') 0px 0px no-repeat;
}

.jogo_menu_jogadores_box_crown {
    float: left;
    margin: -21px 0px 0px -11px;
    vertical-align: middle;
}