:root {
  --dice-sz22: 22px;
  --dice-dot-sz5: 5px;
  --dice-sz60: 60px;
  --dice-dot-sz14: 14px;
  --dice-sz104: 104px;
  --dice-dot-sz24: 24px;
}

.dice {
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  width: var(--dice-sz22);
  height: var(--dice-sz22);
  border-radius: 8px;
}

.dot {
  display: block;
  width: var(--dice-dot-sz5);
  height: var(--dice-dot-sz5);
  border-radius: 50%;
  background-color: white;
}

.first-face {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-face {
  display: flex;
  justify-content: space-between;
}
.second-face .dot:nth-of-type(2) {
  align-self: flex-end;
}

.third-face {
  display: flex;

  justify-content: space-between;
}
.third-face .dot:nth-of-type(3) {
  align-self: flex-end;
}
.third-face .dot:nth-of-type(2) {
  align-self: center;
}

.fourth-face,
.fifth-face,
.sixth-face {
  display: flex;
  justify-content: space-between;
}
.fourth-face .column,
.fifth-face .column,
.sixth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face .column:nth-of-type(2) {
  justify-content: center;
}

#dados {
    position: relative;
    left: 9px;
    top: 5px;
    width: 151px;
    height: 96px;

    display: flex;
    flex-direction: column;
}

#dadosAtaque {
    display: flex;
    flex-direction: row;
    width: 151px;
}

#dadosDefesa {
    display: flex;
    flex-direction: row;
    width: 151px;
}

.dado {
    float: left;
    width: 39px;
    height: 38px;
    background: url('../imagens/dados-v2.png') no-repeat;
    margin: 2px 2px;
}

.dado_ataque {
    background-position: 0px 0px;
}

.dado_ataque1 {
    background-position: 0px 0px;
}

.dado_ataque6 {
    background-position: -200px 0px;
}

.dado_defesa {
    background-position: 0px -39px;
}

.dado_defesa1 {
    background-position: 0px -39px;
}

.dado_defesa6 {
    background-position: -200px -39px;
}