.info_cartas_ico {
    display: inline-block;
    width: 14px;
    height: 14px;
}

.info_cartas_vermelha {
    background: url('../imagens/info_cartas.png') 0px 0px no-repeat;
}
.info_cartas_azul {
    background: url('../imagens/info_cartas.png') -14px 0px no-repeat;
}
.info_cartas_verde {
    background: url('../imagens/info_cartas.png') -28px 0px no-repeat;
}
.info_cartas_preta {
    background: url('../imagens/info_cartas.png') -42px 0px no-repeat;
}
.info_cartas_branca {
    background: url('../imagens/info_cartas.png') -56px 0px no-repeat;
}
.info_cartas_amarela {
    background: url('../imagens/info_cartas.png') -70px 0px no-repeat;
}