.insignia_x40_size {width: 40px; height: 40px}
.insignias_x40_nv0 {background: url('../imagens/insignias_400x240.png') 0px 0px no-repeat;}
.insignias_x40_nv1 {background: url('../imagens/insignias_400x240.png') -40px 0px no-repeat;}
.insignias_x40_nv2 {background: url('../imagens/insignias_400x240.png') -80px 0px no-repeat;}
.insignias_x40_nv3 {background: url('../imagens/insignias_400x240.png') -120px 0px no-repeat;}
.insignias_x40_nv4 {background: url('../imagens/insignias_400x240.png') -160px 0px no-repeat;}
.insignias_x40_nv5 {background: url('../imagens/insignias_400x240.png') -200px 0px no-repeat;}
.insignias_x40_nv6 {background: url('../imagens/insignias_400x240.png') -240px 0px no-repeat;}
.insignias_x40_nv7 {background: url('../imagens/insignias_400x240.png') -280px 0px no-repeat;}
.insignias_x40_nv8 {background: url('../imagens/insignias_400x240.png') -320px 0px no-repeat;}
.insignias_x40_nv9 {background: url('../imagens/insignias_400x240.png') -360px 0px no-repeat;}
.insignias_x40_nv10 {background: url('../imagens/insignias_400x240.png') 0px -40px no-repeat;}
.insignias_x40_nv11 {background: url('../imagens/insignias_400x240.png') -40px -40px no-repeat;}
.insignias_x40_nv12 {background: url('../imagens/insignias_400x240.png') -80px -40px no-repeat;}
.insignias_x40_nv13 {background: url('../imagens/insignias_400x240.png') -120px -40px no-repeat;}
.insignias_x40_nv14 {background: url('../imagens/insignias_400x240.png') -160px -40px no-repeat;}
.insignias_x40_nv15 {background: url('../imagens/insignias_400x240.png') -200px -40px no-repeat;}
.insignias_x40_nv16 {background: url('../imagens/insignias_400x240.png') -240px -40px no-repeat;}
.insignias_x40_nv17 {background: url('../imagens/insignias_400x240.png') -280px -40px no-repeat;}
.insignias_x40_nv18 {background: url('../imagens/insignias_400x240.png') -320px -40px no-repeat;}
.insignias_x40_nv19 {background: url('../imagens/insignias_400x240.png') -360px -40px no-repeat;}
.insignias_x40_nv20 {background: url('../imagens/insignias_400x240.png') 0px -80px no-repeat;}
.insignias_x40_nv21 {background: url('../imagens/insignias_400x240.png') -40px -80px no-repeat;}
.insignias_x40_nv22 {background: url('../imagens/insignias_400x240.png') -80px -80px no-repeat;}
.insignias_x40_nv23 {background: url('../imagens/insignias_400x240.png') -120px -80px no-repeat;}
.insignias_x40_nv24 {background: url('../imagens/insignias_400x240.png') -160px -80px no-repeat;}
.insignias_x40_nv25 {background: url('../imagens/insignias_400x240.png') -200px -80px no-repeat;}
.insignias_x40_nv26 {background: url('../imagens/insignias_400x240.png') -240px -80px no-repeat;}
.insignias_x40_nv27 {background: url('../imagens/insignias_400x240.png') -280px -80px no-repeat;}
.insignias_x40_nv28 {background: url('../imagens/insignias_400x240.png') -320px -80px no-repeat;}
.insignias_x40_nv29 {background: url('../imagens/insignias_400x240.png') -360px -80px no-repeat;}
.insignias_x40_nv30 {background: url('../imagens/insignias_400x240.png') 0px -120px no-repeat;}
.insignias_x40_nv31 {background: url('../imagens/insignias_400x240.png') -40px -120px no-repeat;}
.insignias_x40_nv32 {background: url('../imagens/insignias_400x240.png') -80px -120px no-repeat;}
.insignias_x40_nv33 {background: url('../imagens/insignias_400x240.png') -120px -120px no-repeat;}
.insignias_x40_nv34 {background: url('../imagens/insignias_400x240.png') -160px -120px no-repeat;}
.insignias_x40_nv35 {background: url('../imagens/insignias_400x240.png') -200px -120px no-repeat;}
.insignias_x40_nv36 {background: url('../imagens/insignias_400x240.png') -240px -120px no-repeat;}
.insignias_x40_nv37 {background: url('../imagens/insignias_400x240.png') -280px -120px no-repeat;}
.insignias_x40_nv38 {background: url('../imagens/insignias_400x240.png') -320px -120px no-repeat;}
.insignias_x40_nv39 {background: url('../imagens/insignias_400x240.png') -360px -120px no-repeat;}
.insignias_x40_nv40 {background: url('../imagens/insignias_400x240.png') 0px -160px no-repeat;}
.insignias_x40_nv41 {background: url('../imagens/insignias_400x240.png') -40px -160px no-repeat;}
.insignias_x40_nv42 {background: url('../imagens/insignias_400x240.png') -80px -160px no-repeat;}
.insignias_x40_nv43 {background: url('../imagens/insignias_400x240.png') -120px -160px no-repeat;}
.insignias_x40_nv44 {background: url('../imagens/insignias_400x240.png') -160px -160px no-repeat;}
.insignias_x40_nv45 {background: url('../imagens/insignias_400x240.png') -200px -160px no-repeat;}
.insignias_x40_nv46 {background: url('../imagens/insignias_400x240.png') -240px -160px no-repeat;}
.insignias_x40_nv47 {background: url('../imagens/insignias_400x240.png') -280px -160px no-repeat;}
.insignias_x40_nv48 {background: url('../imagens/insignias_400x240.png') -320px -160px no-repeat;}
.insignias_x40_nv49 {background: url('../imagens/insignias_400x240.png') -360px -160px no-repeat;}
.insignias_x40_nv50 {background: url('../imagens/insignias_400x240.png') 0px -200px no-repeat;}
.insignias_x40_nv51 {background: url('../imagens/insignias_400x240.png') -40px -200px no-repeat;}
.insignias_x40_nv52 {background: url('../imagens/insignias_400x240.png') -80px -200px no-repeat;}
.insignias_x40_nv53 {background: url('../imagens/insignias_400x240.png') -120px -200px no-repeat;}
.insignias_x40_nv54 {background: url('../imagens/insignias_400x240.png') -160px -200px no-repeat;}
.insignias_x40_nv55 {background: url('../imagens/insignias_400x240.png') -200px -200px no-repeat;}
.insignias_x40_nv56 {background: url('../imagens/insignias_400x240.png') -240px -200px no-repeat;}
.insignias_x40_nv57 {background: url('../imagens/insignias_400x240.png') -280px -200px no-repeat;}
.insignias_x40_nv58 {background: url('../imagens/insignias_400x240.png') -320px -200px no-repeat;}
.insignias_x40_nv59 {background: url('../imagens/insignias_400x240.png') -360px -200px no-repeat;}
