#jogo {
	overflow: hidden;
	visibility: hidden;
    width: 1280px;
    height: 800px;
    background: url('../imagens/jogo/bg-mapa.png') no-repeat;
}

#acoes_botoes {
    position: absolute;
    top: 110px;
    left: 262px;
    z-index: 999;
}

#acoes_botoes ul {
    padding: 0px;
    margin: 0px;
    list-style:none;
    text-align: center;
}

#acoes_botoes ul li button {
    width: 33px;
    height: 33px;
    padding: 0;
    border: 0;
    display: inline-block;
}

#mapa {
    position: relative;
    float: left;
    top: 130px;
    width: 979px;
    height: 640px;
    z-index: 998;
}

#barra_tempo {
    position: absolute;
    top: 676px;
    left: 337px;
    width: 417px;
    height: 49px;
    color: #FFF;
    background: url('../imagens/jogo/bg-barra-tempo.png') no-repeat;
    z-index: 999;
}

.barra_de_progresso {
    position: relative;
    top: 15px;
    left: 60px;
    width: 296px;
    height: 10px;
    border: 0;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    margin: 5px;
    vertical-align: top;
}

#barra {
    height: 25px; width:0;
    background-color: #5EB95E;
}

#barra_tempo #tempo_restante {
    position: relative;
    float: right;
    top: 14px;
    right: 12px;
    color: #FFD1AC;
}

#lado_direito_jogo {
    position: absolute;
    top: 52px;
    left: 992px;
    cursor: pointer;
    z-index: 999;
}

#lado_direito_jogo .jogadores {
    float: left;
    width: 286px;
    height: 294px;
    margin-top: 4px;
    background-image: linear-gradient(to bottom, #453122, #876850);
    -moz-box-shadow: inset 18px 48px 45px -30px #453122;
    -webkit-box-shadow: inset 18px 48px 45px -30px #453122;
    box-shadow: inset 18px 48px 45px -30px #453122;
}

#lado_direito_jogo .jogadores .titulo {
    width: 280px;
    height: 16px;
    margin-left: 4px;
    background: url('../imagens/jogo/titulo-jogadores.png') no-repeat;
}

#btnFinalizarTurno {
    position: absolute;
    top: 560px;
    left: 10px;
    width: 80px;
    height: 80px;
    background: url('../imagens/btnVerde80x80.png') no-repeat;
    cursor: pointer;
    color: #000;
    font-size: 20px;
    z-index: 999;
}

#btnFinalizarTurno div {
    position: relative;
    text-align: center;
    top: 26px;
}

#menu_jogadores {
    position: absolute;
    top: 490px;
    width: 213px;
    height: 289px;
    background: url('../imagens/jogo/fundo-6-jogadores.png') no-repeat;
    z-index: 999;
}

#menu_jogadores ul {
    padding:0px;
    margin-top:14px;
    margin-left:23px;
    list-style:none;
}

#menu_jogadores ul li {
    display: inline;
    width: 189px;
    height: 46px;
    display: inline-block;
    border-radius: 0 0 4px 4px;
    font-size: 16px;
    margin-bottom: -5px;
}

#menu_jogadores ul li div {
    float: left;
    width: 42px;
    height: 42px;
}

#menu_jogadores ul li a {
    position: relative;
    top: 10px;
    width: 123px;
    height: 26px;
    float: left;
    padding: 2px;
    border-radius: 0 8px 8px 0;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0px 10px #000000;
    box-shadow: inset 0 0 10px #000000;
    text-decoration: none;
}

#menu_jogadores ul li span {
    position: relative;
    top: 12px;
    left: -22px;
    width: 20px;
    display: inline-block;
    text-align: center;
    text-shadow: black 0.1em 0.1em 0.2em;
}

#qtdTerritorio0 {color: #F8F7E9;}
#qtdTerritorio1 {color: #F8F7E9;}
#qtdTerritorio2 {color: #F8F7E9;}
#qtdTerritorio3 {color: #F8F7E9;}
#qtdTerritorio4 {color: #282423;}
#qtdTerritorio5 {color: #282423;}

#chat_do_jogo {
    float: left;
}

#chat_do_jogo .titulo {
    width: 280px;
    height: 16px;
    margin-left: 4px;
    background: url('../imagens/jogo/titulo-chat.png') no-repeat;
}

#cj_mensagens {
    display: block;
    width: 286px;
    height: 400px;
    border: 0;
    background-color: transparent;
    cursor: text;
    padding: 5px;
    top: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    text-shadow: #888 0.1em 0.0em 0.1em;
}

#cj_mensagens object {
    max-width: 265px;
}

#chat_do_jogo input {
    display: inline;
    width: 286px;
    cursor: text;
}

#slider-mover-tropas {
    position: absolute;
    visibility: hidden;
    top: 510px;
    left: 240px;
    cursor: url('../imagens/mouse/padrao.png') 0 0, pointer;
    z-index: 1000;
}

#ganhou_carta {
    position: absolute;
    width: 150px;
    height: 200px;
    background: url("../../imagens/cartasTerritorios_sprite.png") no-repeat;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    margin-top: -100px;
    opacity: 0.0;
    visibility: hidden;
    z-index: 999;
}

#jogo_sair {
    position: absolute;
    top: 8px;
    right: 305px;
    width: 40px;
    height: 40px;
    background: url('../imagens/sair.png');
    cursor: pointer;
    z-index: 999;
}

#legenda {
    position: absolute;
    width: 234px;
    height: 32px;
    top: 730px;
    left: 395px;
    background: url('../imagens/legenda-rodape.png');
    text-align: center;
    color: white;
    font-size: 17px;
    visibility: hidden;
    z-index: 999;
}

.legenda-grupo-territorio {
    position: absolute;
    background: url('../imagens/jogo/sprite-nomes-grupos-territorios-v3.png') no-repeat;
    z-index: 999;
}

.legenda-gt-amdonorte {
    top: 185px; left: 90px;
    background-position: 0 -235px; width: 147px; height: 47px;
}
.legenda-gt-amdosul {
    top: 626px; left: 316px;
    background-position: 0 0; width: 126px; height: 47px;
}
.legenda-gt-europa {
    top: 320px; left: 360px;
    background-position: 0 -189px; width: 66px; height: 45px;
}
.legenda-gt-asia {
    top: 370px; left: 880px;
    background-position: 0 -141px; width: 41px; height: 47px;
}
.legenda-gt-oceania {
    top: 560px; left: 715px;
    background-position: 0 -96px; width: 70px; height: 44px;
}
.legenda-gt-africa {
    top: 518px; left: 428px;
    background-position: 0 -48px; width: 60px; height: 47px;
}
