#jogo {
	overflow: hidden;
	visibility: hidden;
}

#info_turno {
    position: absolute;
    top: 285px;
    left: 25px;
    width: 150px;
    height: 200px;
    color: #FFF;
    text-align: center;
    z-index: 999;
    -webkit-transform: rotate(10deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(10deg);  /* Firefox 3.5-15 */
    -ms-transform: rotate(10deg);  /* IE 9 */
    -o-transform: rotate(10deg);  /* Opera 10.50-12.00 */
    transform: rotate(10deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}

#it_titulo {
    position: relative;
    top: 18px;
    font-size: 17px;
}

#it_sub_titulo {
    position: relative;
    top: 28px;
    font-size: 14px;
    visibility: hidden;
}

#it_info {
    position: relative;
    top: 95px;
    font-size: 20px;
    visibility: hidden;
}

.info_turno_tropas1 { background: url('../imagens/acoes_sprite.png') 0px 0px no-repeat; }
.info_turno_tropas2 { background: url('../imagens/acoes_sprite.png') -150px 0px no-repeat; }
.info_turno_tropas3 { background: url('../imagens/acoes_sprite.png') -300px 0px no-repeat; }
.info_turno_tropas4 { background: url('../imagens/acoes_sprite.png') -450px 0px no-repeat; }
.info_turno_tropas5 { background: url('../imagens/acoes_sprite.png') -600px 0px no-repeat; }
.info_turno_tropas6 { background: url('../imagens/acoes_sprite.png') -750px 0px no-repeat; }

.info_turno_atacar1 { background: url('../imagens/acoes_sprite.png') 0px -200px no-repeat; }
.info_turno_atacar2 { background: url('../imagens/acoes_sprite.png') -150px -200px no-repeat; }
.info_turno_atacar3 { background: url('../imagens/acoes_sprite.png') -300px -200px no-repeat; }
.info_turno_atacar4 { background: url('../imagens/acoes_sprite.png') -450px -200px no-repeat; }
.info_turno_atacar5 { background: url('../imagens/acoes_sprite.png') -600px -200px no-repeat; }
.info_turno_atacar6 { background: url('../imagens/acoes_sprite.png') -750px -200px no-repeat; }

.info_turno_mover1 { background: url('../imagens/acoes_sprite.png') 0px -400px no-repeat; }
.info_turno_mover2 { background: url('../imagens/acoes_sprite.png') -150px -400px no-repeat; }
.info_turno_mover3 { background: url('../imagens/acoes_sprite.png') -300px -400px no-repeat; }
.info_turno_mover4 { background: url('../imagens/acoes_sprite.png') -450px -400px no-repeat; }
.info_turno_mover5 { background: url('../imagens/acoes_sprite.png') -600px -400px no-repeat; }
.info_turno_mover6 { background: url('../imagens/acoes_sprite.png') -750px -400px no-repeat; }

.info_turno_trocar1 { background: url('../imagens/acoes_sprite.png') 0px -600px no-repeat; }
.info_turno_trocar2 { background: url('../imagens/acoes_sprite.png') -150px -600px no-repeat; }
.info_turno_trocar3 { background: url('../imagens/acoes_sprite.png') -300px -600px no-repeat; }
.info_turno_trocar4 { background: url('../imagens/acoes_sprite.png') -450px -600px no-repeat; }
.info_turno_trocar5 { background: url('../imagens/acoes_sprite.png') -600px -600px no-repeat; }
.info_turno_trocar6 { background: url('../imagens/acoes_sprite.png') -750px -600px no-repeat; }


#acoes_botoes {
    float: left;
    margin-left: 4px;
}

#acoes_botoes ul {
    padding: 0px;
    margin: 0px;
    list-style:none;
    text-align: center;
}

#acoes_botoes ul li button {
    width: 52px;
    height: 52px;
    padding: 4px 4px;
    display: inline-block;
}

#mapa {
    position: relative;
    float: left;
    width: 1024px;
    height: 640px;
    z-index: 998;
}

#barra_tempo {
    position: absolute;
    top: 463px;
    left: 471px;
    width: 290px;
    color: #FFF;
    z-index: 999;
}

.barra_de_progresso {
    float: left;
    width: 240px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    margin: 0px 10px 5px 5px;
    vertical-align: top;
}

#barra {
    height: 25px;
    background-color: #5eb95e;
    width:0;
}

#controles {
    position: absolute;
    top: 485px;
    right: 0;
    background: url('../imagens/muro.jpg');
    cursor: pointer;
    z-index: 999;
}

#dados { 
    position: relative;
    float: left;
    margin-left: 4px;
}
#dadosAtaque { float: left; }
#dadosDefesa { float: right; }

.dado {
    width: 40px;
    height: 40px;
    background: url('../imagens/dados.png') no-repeat;
    margin: 2px 2px;
}

.dado_ataque {
    background-position: 0px 0px;
}

.dado_defesa {
    background-position: 0px -40px;
}

#btnFinalizarTurno {
    position: absolute;
    top: 560px;
    left: 10px;
    width: 80px;
    height: 80px;
    background: url('../imagens/btnVerde80x80.png') no-repeat;
    cursor: pointer;
    color: #000;
    font-size: 20px;
    z-index: 999;
}

#btnFinalizarTurno div {
    position: relative;
    text-align: center;
    top: 26px;
}

#menu_jogadores {
    position: absolute;
    width: 1024px;
    z-index: 999;
}

#menu_jogadores ul {
    padding:0px;
    margin:0px;
    list-style:none;
    text-align: center;
}

#menu_jogadores ul li {
    display: inline;
    width: 150px;
    display: inline-block;
    border-radius: 0 0 4px 4px;
    font-size: 16px;
}

#menu_jogadores ul li a {
    float: left;
    margin-left: 5px;
}

#menu_jogadores ul li div {
    float: right;
    width: 20px;
    display: inline-block;
    border-radius: 4px;
    background-color: #FFF;
    color: #444;
}

#chat_do_jogo {
    float: left;
}

#chat_do_jogo textarea {
    display: block;
    resize: none;
    width: 400px;
    height: 120px;
    border: 0;
    background-color: #FFF;
    cursor: text;
    margin-bottom: 1px;
}

#chat_do_jogo input {
    display: inline;
    width: 329px;
    cursor: text;
}

#slider-mover-tropas {
    position: absolute;
    z-index: 999;
    visibility: hidden;
    top: 510px;
    left: 240px;
}

#ganhou_carta {
    position: absolute;
    width: 150px;
    height: 200px;
    background: url("../../imagens/cartasTerritorios_sprite.png") no-repeat;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    margin-top: -100px;
    opacity: 0.0;
    visibility: hidden;
    z-index: 999;
}

#jogo_sair {
    position: absolute;
    top: 10px;
    right: 0;
    width: 40px;
    height: 40px;
    background: url('../imagens/sair.png');
    z-index: 999;
    cursor: pointer;
}
