.label_tropas {
    position: relative;
    left: -50%;
    top: -8px;
    white-space: nowrap;
    border: 0;
    padding: 0;
    font-size: 12px;
}

.label_info_tropas_perdidas {
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    padding-left: 20px;
    font-size: 20px;
    color: #FFF;
    opacity: 0;
    width: 20px;
    height: 20px;
    background: url('../imagens/numeros/negativo_20px_sprite.png') 0px 0px no-repeat;
}

.label_div_explosao {
    position: absolute;
    top: -25px;
    left: -25px;
    width: 50px;
    height: 50px;
}
