#logs_do_jogo {
    float: left;
    width: 286px;
    height: 294px;
    margin-top: 4px;
    background-image: linear-gradient(to bottom, #453122, #876850);
    -moz-box-shadow: inset 0 45px 20px -15px #453122;
    -webkit-box-shadow: inset 0 45px 20px -15px #453122;
    box-shadow: inset 0px 45px 20px -15px #453122;
    overflow-x: hidden;
    overflow-y: hidden;
}

#logs_do_jogo .titulo {
    width: 280px;
    height: 16px;
    margin-left: 4px;
    background: url('../imagens/jogo/titulo-log-partida.png') no-repeat;
    text-align: center;
}

#logs_do_jogo .titulo_text {
    font-size: 10px;
    font-family: "wartorn";
    text-transform: uppercase;
    background: linear-gradient(to bottom, #d9cec1 10%, #876850 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

#lj_mensagens {
    display: block;
    width: 286px;
    height: 278px;
    border: 0;
    background-color: transparent;
    cursor: text;
    padding: 5px;
    top: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    color: #F8F7E9;
    text-shadow: #111 0.1em 0em 0.1em;
}