#lista_usuarios {
    position: absolute;
    top: 444px;
    left: 922px;
    width: 358px;
    height: 356px;
    background-image: linear-gradient(to bottom, #453122, #876850);
    -moz-box-shadow: inset 0 45px 20px -15px #453122;
    -webkit-box-shadow: inset 0 45px 20px -15px #453122;
    box-shadow: inset 0px 45px 20px -15px #453122;
    overflow: hidden;
}

#lista_usuarios .titulo {
    margin-left: 5px;
    width: 345px;
    height: 20px;
    background: url('../imagens/lobby/titulo-jogadores-online.png') no-repeat;
}

#lista_usuarios .conteudo {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    padding-bottom: 16px;
}

#lista_usuarios .conteudo .item {
    display: flex;
    flex-direction: row;
    margin: 2px auto;
    width: 351px;
    max-width: 351px;
    height: 59px;
    background: url('../imagens/lobby/bg-item-lista-jogadores.png') no-repeat;
}

#lista_usuarios .conteudo .item .grow1 {
    flex-grow: 1;
    width: 40px;
    height: 40px;
}

#lista_usuarios .conteudo .item .grow6 {
    flex-grow: 6;
}

#lista_usuarios .conteudo .item .foto {
    position: relative;
    margin: 0 auto;
    top: 5px;
    width: 42px;
    height: 42px;
}

#lista_usuarios .conteudo .item .infos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50px;
}

#lista_usuarios .conteudo .item .nome {
    margin-left: 4px;
    color: #4D2E14;
    font-weight: bold;
    font-size: 18px;
}

#lista_usuarios .conteudo .item .trofeu {
    float: left;
    width: 18px;
    height: 18px;
    /*background: url('../imagens/ico-ranking.png') no-repeat;*/
}

#lista_usuarios .conteudo .item .trofeu path {
  stroke: #ffe34c;
  fill: #ffe34c;
}

#lista_usuarios .conteudo .item .pontos {
    float: left;
    color: #d9cec1;
    margin-left: 4px;
    margin-top: 0px;
    font-size: 16px;
    text-shadow: 2px 1px #4D2E14;
}

.sala_menu_jogadores_box_crown {
    position: relative;
    margin: 0 auto;
    top: 12px;
    vertical-align: middle;
}