#quantidade_tropas {
    position: absolute;
    padding: 4px;
    top: 149px;
    left: 50%;
    margin-left: -26px;
    width: 119px;
    max-width: 420px;
    height: 42px;
    z-index: 999;
    color: #FFD1AC;
    border-radius: .75em;
    -webkit-filter: drop-shadow(1px 2px 5px rgba(0, 0, 0, .3));
}

.rb_quantidade_tropa {
    padding: 3px;
    text-align: center;
    border-radius: .3em;
}

.rb-tab {
    display: inline-block;
    position: relative;
    width: 29px;
}

.rb-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 209, 172);
    font-size: 16px;
}

.rb-spot {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(255, 209, 172, .3);
    cursor: pointer;
}

.rb-tab-active .rb-spot {
    background: rgba(56, 39, 24, .90);
    border: 2px solid rgba(56, 39, 24, .90);
}