@font-face {
    font-family: "wartorn";
    src: url("../fonts/wartorn/WARTORN_.TTF");
}

html, body {
    height: 0;
    margin: 0;
    padding: 0;
    color: #eee;
    background-color: #876850;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    position: relative;
    /*margin-top: 3em;*/
    padding-top: 3em;
    font-size: 1.75em;
    text-align: center;
    text-transform: uppercase;
    font-family: "wartorn";
}

h1::before {
    content: '';
    position: absolute;
    left: 50%;
    width: 43.75rem;
    height: .25em;
    margin-top: -2em;
    margin-left: -21.875rem;
    border-radius: .125em;
    background-color: #eee;
}

p {
    max-width: 51.625rem;
    margin: 1.875em auto;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5625em;
    text-align: left;
}

p.center {
    text-align: center;
}

ul, ol {
    max-width: 51.625rem;
    margin: 1.875em auto;
    font-size: 20px;
    font-weight: 300;
    padding-left: 100px;
}

#premiacao {
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.donation-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-evenly;
    max-width: 43.75rem;
    margin: auto;
    font-size: 1.5em;
    text-align: center;
}

.donation-ico {
    margin-top: 8px;
    height: 150px;
}

/* dynatable */

.container {
    margin: 3.875em auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    background: #fff;
    color: #453122;
}

th {
    background-color: #453122;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}

td, th {
    padding: 1em 1.5em;
    text-align: left;
}

tbody th {
    background-color: #2ea879;
}

tbody tr:nth-child(n) {
    background-color: #fff;
    transition: all .125s ease-in-out;
}

tbody tr:hover {
    background-color: rgba(69, 49, 34, .3)
}

.dynatable-active-page {
    background: #453122;
    border-radius: 5px;
    color: #fff;
}

thead a {
    color: #fff;
    text-decoration: none;
}

thead a:hover, thead a:focus {
    color: #fff;
    text-decoration: underline;
}

.dynatable-pagination-links a {
    color: #fff;
    text-decoration: none;
}

.dynatable-pagination-links a:hover {
    color: #999;
    text-decoration: none;
}

#ranking-badges {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background: white;
    border-radius: 4px;
    color: #453122;
    padding: 16px;

    max-width: 350px;
    margin: auto;
}

#ranking-badges .insignia_linha {
    display: flex;
    justify-content: space-between;
}

#ranking-badges .insignia_img {
    width: 72px;
}

#ranking-badges .insignia_nome {
    width: auto;
    line-height: 40px;
    vertical-align: middle;
}

#ranking-badges .insignia_xp {
    width: 72px;
    line-height: 40px;
    vertical-align: middle;
}

/* Ranking do evento */
#ranking-evento {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    color: #453122;
    /*background: white;*/
    border-radius: 4px;
    padding: 16px;

    /*max-width: 350px;*/
    max-width: fit-content;
    margin: auto;
}

#ranking-evento .rank_evento_linha {
    display: flex;
    justify-content: space-between;
}

#ranking-evento .rank_evento_posicao {
    width: 48px;
    line-height: 48px;
    vertical-align: middle;
}

#ranking-evento .rank_evento_nome {
    width: auto;
    line-height: 48px;
    vertical-align: middle;
}

#ranking-evento .rank_evento_pontos {
    width: 48px;
    line-height: 48px;
    vertical-align: middle;
}
/**/

/* donations */
#guerra_mundial li {
    line-height: 24px;
}

.donation-current {
    margin: 0.875em auto 0 auto;
}

.donation-progress-bar {
    display: flex;
    overflow: hidden;
    margin: 0.875em auto auto auto;
    max-width: 20rem;
    height: 30px;
    font-size: .75rem;
    background-color: white;
    border-radius: .25rem;
    font-weight: 700;
}

.donation-progress {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #453122;
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}

.donation-last-update {
    margin: 0 auto 0.875em auto;
    font-size: 16px;
}
/**/