#sala {
    position: absolute;
    left: 50%;
    margin-left: -640px;
    width: 1280px;
    height: 800px;
    background: url('../imagens/lobby/bg_fundo.jpg') no-repeat;
    visibility: hidden;
    z-index: 9001;
}

#sala_content {
    position: absolute;
    border: 0;
    width: 832px;
    max-height: 485px;
    overflow: auto;
    margin-top: 163px;
    margin-left: 38px;
    overflow-x: none;
}

#sala_menu {
    
}

#sala_nomeParaCriar {
    position: absolute;
    margin-top: 66px;
    width: 200px;
}

::-webkit-scrollbar { background: url('../imagens/lobby/bg_scroll.png'); }
::-webkit-scrollbar-thumb { background: url('../imagens/lobby/scroll.png'); }
::-webkit-scrollbar-button:increment { background: url('../imagens/lobby/seta_baixo_scroll.png') no-repeat; }
::-webkit-scrollbar-button:decrement { background: url('../imagens/lobby/seta_cima_scroll.png') no-repeat; }

#btnCriarSala {
    margin-bottom: 10px;
}

#sala .form-signin {
    max-width: 817px;
    margin: 0;
}

#sala h3 {
    margin-top: 0px;
}

#sala ul {
    padding:0px;
    margin:0px;
    list-style:none;
    text-align: center;
}

#sala ul li {
    display: inline;
}

#sala ul li a {
    width: 100px;
    height: 112px;
    display: inline-block;
    padding-top: 100px;
    padding-left: 24px;
    color: #000;
}

#sala ul li a:link,
#sala ul li a:visited,
#sala ul li a:active {
    text-decoration: none;
}

#sala .sala_posicoes {
    margin-top: 10px;
    margin-bottom: 5px;
}

.btnIniciarPartida {
    visibility: hidden;
}

.jogador_sala_vermelho {
    background: url('../imagens/soldados_sala.png') 0px 0px no-repeat;
}

.jogador_sala_azul {
    background: url('../imagens/soldados_sala.png') -100px 0px no-repeat;
}

.jogador_sala_verde {
    background: url('../imagens/soldados_sala.png') -200px 0px no-repeat;
}

.jogador_sala_preto {
    background: url('../imagens/soldados_sala.png') -300px 0px no-repeat;
}

.jogador_sala_branco {
    background: url('../imagens/soldados_sala.png') -400px 0px no-repeat;
}

.jogador_sala_amarelo {
    background: url('../imagens/soldados_sala.png') -500px 0px no-repeat;
}

.sc_bloqueador {
    position: relative;
    float: left;
    margin-top: -214px;
    margin-left: -30px;
    width: 817px;
    height: 241px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.btnEntrarNaSala {
    position: relative;
    width: 72px;
    height: 34px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -17px;
}
