#tour_painel {
    position: absolute;
    width: 1280px;
    min-height: 800px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-overlay);
    z-index: 1000;
}

#tour_painel .btn_fechar {
    position: absolute;
    margin: 8px 0 0 944px;
    width: 24px;
    height: 24px;
    background: url('../imagens/lobby/box_criar_sala_sprite.png') 0px -219px no-repeat;
    border: 0;
    cursor: -webkit-grab; cursor: grab;
}

#tour_painel .btn_fechar:hover {
    background: url('../imagens/lobby/box_criar_sala_sprite.png') 0px -190px no-repeat;
    cursor: -webkit-grab; cursor: grab;
}

#tour_conteudo {
    /*position: absolute;*/
    width: 976px;
    height: 631px;
    outline: 8px solid rgba(135, 104, 80, 0.5);
}

.tour_1 {
    background-image: url("../imagens/tour/tour_1.png");
}

.tour_2 {
    background-image: url("../imagens/tour/tour_2.png");
}

.tour_3 {
    background-image: url("../imagens/tour/tour_3.png");
}

#tour_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 160px;
}

.tour_titulo {
    margin-top: 8px;
    font-family: var(--font-family-wartorn);
    text-align: center;
    font-size: 50px;
    color: #453122;
}

#tour_content {
    height: 423px;
}

#tour_footer {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
}

#tour_footer .war_button {
    height: 38px;
    margin: 2px;
    padding: 5px 20px;
    font-family: var(--font-family-gagalin);
    font-size: 18px;
}

.btn_tour {
    font-family: var(--font-family-gagalin);
}

#tour_footer .war_button_active {
    outline: none;
    color: white;
    box-shadow: 8px 8px 0 #FBC638;
}

#tour_btn_tour {
    transition: 0s;
}