#cartaObjetivo {
    position: absolute;
    top: 348px;
    left: 660px;
    z-index: 999;
    visibility: hidden;
}

.carta_objetivo {
    width: 85px;
    height: 148px;
}

.carta_objetivo_padrao {
    background: url("../../imagens/ObjetivoPadrao.bmp") no-repeat;
}

.carta_objetivo_1 {
    background: url("../../imagens/Objetivo01.bmp") no-repeat;
}

.carta_objetivo_2 {
    background: url("../../imagens/Objetivo02.bmp") no-repeat;
}

.carta_objetivo_3 {
    background: url("../../imagens/Objetivo03.bmp") no-repeat;
}

.carta_objetivo_4 {
    background: url("../../imagens/Objetivo04.bmp") no-repeat;
}

.carta_objetivo_5 {
    background: url("../../imagens/Objetivo05.bmp") no-repeat;
}

.carta_objetivo_6 {
    background: url("../../imagens/Objetivo06.bmp") no-repeat;
}

.carta_objetivo_7 {
    background: url("../../imagens/Objetivo07.bmp") no-repeat;
}

.carta_objetivo_8 {
    background: url("../../imagens/Objetivo08.bmp") no-repeat;
}

.carta_objetivo_9 {
    background: url("../../imagens/Objetivo09.bmp") no-repeat;
}

.carta_objetivo_10 {
    background: url("../../imagens/Objetivo10.bmp") no-repeat;
}

.carta_objetivo_11 {
    background: url("../../imagens/Objetivo11.bmp") no-repeat;
}

.carta_objetivo_12 {
    background: url("../../imagens/Objetivo12.bmp") no-repeat;
}

.carta_objetivo_13 {
    background: url("../../imagens/Objetivo13.bmp") no-repeat;
}

.carta_objetivo_14 {
    background: url("../../imagens/Objetivo14.bmp") no-repeat;
}
