#cartaObjetivo {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    text-align:left; /* "remédio" para o hack do IE */
}

.carta_objetivo {
    width: 300px;
    height: 400px;
}

.carta_objetivo_1 { background: url("../../imagens/cartasObjetivo_sprite.png") 0px 0px no-repeat; }
.carta_objetivo_2 { background: url("../../imagens/cartasObjetivo_sprite.png") -300px 0px no-repeat; }
.carta_objetivo_3 { background: url("../../imagens/cartasObjetivo_sprite.png") -600px 0px no-repeat; }
.carta_objetivo_4 { background: url("../../imagens/cartasObjetivo_sprite.png") -900px 0px no-repeat; }
.carta_objetivo_5 { background: url("../../imagens/cartasObjetivo_sprite.png") -1200px 0px no-repeat; }
.carta_objetivo_6 { background: url("../../imagens/cartasObjetivo_sprite.png") -1500px 0px no-repeat; }
.carta_objetivo_7 { background: url("../../imagens/cartasObjetivo_sprite.png") -180px 0px no-repeat; }
.carta_objetivo_8 { background: url("../../imagens/cartasObjetivo_sprite.png") -2100px 0px no-repeat; }
.carta_objetivo_9 { background: url("../../imagens/cartasObjetivo_sprite.png") -2400px 0px no-repeat; }
.carta_objetivo_10 { background: url("../../imagens/cartasObjetivo_sprite.png") -2700px 0px no-repeat; }
.carta_objetivo_11 { background: url("../../imagens/cartasObjetivo_sprite.png") -3000px 0px no-repeat; }
.carta_objetivo_12 { background: url("../../imagens/cartasObjetivo_sprite.png") -3300px 0px no-repeat; }
.carta_objetivo_13 { background: url("../../imagens/cartasObjetivo_sprite.png") -3600px 0px no-repeat; }
.carta_objetivo_14 { background: url("../../imagens/cartasObjetivo_sprite.png") -3900px 0px no-repeat; }

#painel_objetivo {
    visibility: hidden;
}

.pm_content {
    position: absolute;
    padding-top: 100px;
    text-align:center; /* hack para o IE */
    width: 100%;
    height: 100%;
    z-index: 9001;
}
