#painel_objetivo {
    visibility: hidden;
}

#painel_objetivo span {
    position: absolute;
    color: #FFF;
    width: 500px;
    left: 50%;
    top: 40px;
    margin-left: -250px;
    font-size: 30px;
    text-align: center;
    z-index: 9001;
}

.po_content {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 100%;
    z-index: 9001;
}

#cartaObjetivo {
    position: relative;
    width: 300px;
    left: 50%;
    margin-left: -150px;
}

.carta_objetivo {
    width: 300px;
    height: 400px;
}

.carta_objetivo_1 { background: url("../../imagens/cartasObjetivo_sprite.png") 0px 0px no-repeat; }
.carta_objetivo_2 { background: url("../../imagens/cartasObjetivo_sprite.png") -300px 0px no-repeat; }
.carta_objetivo_3 { background: url("../../imagens/cartasObjetivo_sprite.png") -600px 0px no-repeat; }
.carta_objetivo_4 { background: url("../../imagens/cartasObjetivo_sprite.png") -900px 0px no-repeat; }
.carta_objetivo_5 { background: url("../../imagens/cartasObjetivo_sprite.png") -1200px 0px no-repeat; }
.carta_objetivo_6 { background: url("../../imagens/cartasObjetivo_sprite.png") -1500px 0px no-repeat; }
.carta_objetivo_7 { background: url("../../imagens/cartasObjetivo_sprite.png") -1800px 0px no-repeat; }
.carta_objetivo_8 { background: url("../../imagens/cartasObjetivo_sprite.png") -2100px 0px no-repeat; }
.carta_objetivo_9 { background: url("../../imagens/cartasObjetivo_sprite.png") -2400px 0px no-repeat; }
.carta_objetivo_10 { background: url("../../imagens/cartasObjetivo_sprite.png") -2700px 0px no-repeat; }
.carta_objetivo_11 { background: url("../../imagens/cartasObjetivo_sprite.png") -3000px 0px no-repeat; }
.carta_objetivo_12 { background: url("../../imagens/cartasObjetivo_sprite.png") -3300px 0px no-repeat; }
.carta_objetivo_13 { background: url("../../imagens/cartasObjetivo_sprite.png") -3600px 0px no-repeat; }
.carta_objetivo_14 { background: url("../../imagens/cartasObjetivo_sprite.png") -3900px 0px no-repeat; }
